.Board {

    height: 65vh;
    width: 65vh;

    display: flex;
    flex-wrap: wrap;

    border: 1px solid black;

}

.Rotate {
    transform: rotate(180deg);
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .Board {
        max-width: 80vh;
    }
}

/* Media query for very small screens */
@media (max-width: 480px) {
    .Board {
        height: 100vw;
        width: 100vw;
        /* Maintain aspect ratio */
    }
}