.Square{
    width: 98px;
    height: 98px;
    border: 1px inset black ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    

}
.Selected{
    background-color: rgb(143, 151, 133) !important;
    opacity: 0.7;
}
.Check {
    background-color: brown !important;
}

